body{
    margin: 0;
    width: 100%;
}

*{
    box-sizing: border-box;
}

.header{
    width: 100%;
    background: #F5812C;
    padding: 20px;
    text-align: center;
    font-size: 35px;
}
.main_content{
    width: 70%;
    background: #6C8DC8;
    padding:300px  100px;
    display: inline-block;
}
.right_panel{
    float: right;
    display: inline-block;
    width: 30%;
    background: #3BCB24;
    padding:300px  100px;
}
.footer{
    width: 100%;
    background-color: #143E8B;
    padding: 60px;
    color: #ffff;
}