.contenedor{
    display: flex;
    border: 2px solid blue;
    height: 200px;
    flex-wrap: wrap;
}


.caja{
    height:100px;
    width:100px;
    background: red;
    padding: 20px;
    border: 2px solid black;
    box-sizing: border-box;
}