.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-header,
.card-footer {
  background: rgb(53, 53, 204);
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.card-body {
  width: 100%;
  height: auto;
}
.card-img {
  width: 100%;
}

.blue-card {
  border: 2px solid blue;
}
.red-card {
  border: 2px solid red;
}
