body{
    margin: 0;
}

.estanque{
    width: 100%;
    height: 100vh;
    background: #486D88;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.ranita{
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 5%;
    background: #55AA55;
    margin-right: 200px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ojos{
    display: flex;
    margin: 5px;
}

.ojo{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 3px;
    background:rgba(0,0,0, 0.8);
    border: 3px solid white;
}

.boca{
    width: 40px;
    height: 40px;
    background: #116611;
}



.hoja{
    position: absolute;
    bottom: 10px;
    right: 150px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: #AAAA39;
    z-index: 0;
}